.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.square_1{
    width: 200px;
    height: 200px;
    margin: 10px;
  background-image: linear-gradient(to bottom left,black,yellow);
}
.square_2{
    width: 200px;
    height: 200px;
    margin: 10px;
    background-image: radial-gradient(red,blue);
}