.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.square_1 {
  width: 200px;
  height: 200px;
  margin: 10px;
  background-color: lightskyblue;
  border: 5px solid black;
  border-bottom: 20px solid yellow;
}
.square_2 {
    width: 200px;
    height: 200px;
    margin: 10px;
    background-color: lightskyblue;
    border: 5px solid black;
    border-top: 20px solid yellow;
}
